# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.tos

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
deps/
modules.order
Module.symvers
Mkfile.old
dkms.conf

engine
*.log
planet-rocklobster.zip
atarist-crossgcc-master.zip
atari/GODLIB.ZIP
atari/BOX.ZIP
HxC_Compat_Mode.zip
planet-rocklobster/planet-rocklobster/readme.txt
planet-rocklobster/planet-rocklobster/Planet_Rocklobster_Oxyron.adf
planet-rocklobster/planet-rocklobster/Planet_Rocklobster_Oxyron (-, -, Amiga).rp9
CF0/fat95
CF0/compactflash.device
CF0/CF0
CF0.info
CF0/CF0.info

*.cmake
*.make
*.includecache
*.internal
